* {
    box-sizing: border-box;   
}

#container {
    width: 100%;
    position: relative;
    height: 100vh;
    max-height: 100vh;
    background-image: url(./img/Hero.JPG);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#header {
    background-color: rgba(0,0,0, 0.5);
    height: 25%;
    border-bottom-right-radius: 50%;
}

#invitation {
    display: block;
    padding-top: 5px;
    font-size: .4rem;
    margin:0;
    color: #FFF;
    text-align: center;
}

#family-from {
    text-align: center;
    width: 60%;
    font-size: 0.35rem;
    display: block;
}

#male-family-text {
    float: left;
}

#female-family-text {
    margin-left: 30px;
    float: left;
}


#footer {
    position: fixed;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 30px;
    background-color: rgba(0,0,0,0.5);
    border-top-left-radius: 20px;
    width: 40%;
}

#footer p {
    font-size: 0.4rem;
    text-align: right;
    color: #FFF;    
    padding-right: 5px;
    line-height: 30px;
}
