* {
    box-sizing: border-box;   
}

#container {
    width: 100%;
    position: relative;
    height: 100vh;
    max-height: 100vh; /* hero image full per viewport to cover entire top screen */
    background-image: url(./img/Hero.JPG);
    background-position: center;
    background-size: cover;
}


#schedule-container {
    position: relative;
    width: 100%;
    bottom: 0;
    height: 100%;
}

#family-from {
    width: 100%;
}

#male-family-text {
    left: 0;
}

#female-family-text {
    right: 0;
}

#holy-matrimony {
    position: relative;
    bottom: 0;
}

#quote {
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    bottom: 0;
    color: #FFF;
    font-size: 0.7rem;
    padding: 5px;
}

#hashtag {
    font-size: 1rem;
    width: 200px;
    position:fixed;
    bottom: 0;
    right: 0;
    text-align: right;
    background-color: rgba(0,0,0,1);
    padding: 5px;
    color: #fff;    
    border-top-left-radius: 200px;
    height: 30px;
}